<!-- Car Details Section Begin -->
<section class="car-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9" *ngIf="car; else elseBlock">
                <div class="car__details__pic">
                    <div class="car__details__pic__large">
                        <img class="car-big-img" src="{{car.imgname}}" alt="{{car.imgname}}">
                    </div>
                    <!-- <div class="car-thumbs">
                        <div class="car-thumbs-track car__thumb__slider owl-carousel">
                            <div class="ct" data-imgbigurl="img/cars/details/cd-2.jpg"><img
                                    src="img/cars/details/sm-1.jpg" alt=""></div>
                            <div class="ct" data-imgbigurl="img/cars/details/cd-3.jpg"><img
                                    src="img/cars/details/sm-2.jpg" alt=""></div>
                            <div class="ct" data-imgbigurl="img/cars/details/cd-4.jpg"><img
                                    src="img/cars/details/sm-3.jpg" alt=""></div>
                            <div class="ct" data-imgbigurl="img/cars/details/cd-5.jpg"><img
                                    src="img/cars/details/sm-4.jpg" alt=""></div>
                            <div class="ct" data-imgbigurl="img/cars/details/cd-6.jpg"><img
                                    src="img/cars/details/sm-5.jpg" alt=""></div>
                        </div>
                    </div> -->
                </div>
            </div>
            <ng-template #elseBlock>Car not Found!</ng-template>
            <div class="col-lg-3" *ngIf="car">
                <div class="car__details__sidebar">
                    <div class="car__details__sidebar__model">
                        <ul>
                            <li>Name <span>{{car.brand+' '+car.model}}</span></li>
                            <li>Year <span>{{car.year}}</span></li>
                            <li>Power <span>{{car.powerkw | multiply: toHp}} hp</span></li>
                            <li>Mileage <span>{{car.mileage | kmWithDots: car.mileage}} km</span></li>
                            <li>Price <span>{{car.price | currency:'EUR' | split: car.price}}</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Get Today Is Price</a>
                        <p>Pricing in 11/26/2019</p>
                    </div>
                    <!-- <div class="car__details__sidebar__payment">
                        <ul>
                            <li>MSRP <span>$120,000</span></li>
                            <li>Dealer Discounts <span>$3,000</span></li>
                            <li>Price <span>$117,000</span></li>
                        </ul>
                        <a href="#" class="primary-btn"><i class="fa fa-credit-card"></i> Express Purchase</a>
                        <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-sliders"></i> Build Payment</a>
                        <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-money"></i> Value Trade</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Car Details Section End -->